.bar {
    fill: steelblue;
}

#tooltip {
    opacity: 0.75;
    visibility: hidden;
    position: absolute;
    background-color: white;
    z-index: 999;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}

#vis {
    border: 1px solid black; 
    float:left; 
    margin-right:20px;
}
